<div id="index_beer_image_container">
  <img class="index_beer_img" src="/images/beer.png" alt="beer glass logo">


  <div id="index_beer_button_container">
    <button class="index_beer_button"> <a href="/beers">Check the Beers!</a> </button>
    <button class="index_beer_button"><a href="/randomBeer">Check a Random Beer</a> </button>
  </div>

</div>