<div id="random_beer_container">
  {{>beerpartial }}
  <p>Food Pairing: </p>
  <ul>
    {{#each food_pairing}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>Brewers Tips: {{brewers_tips}}</p>
</div>