<div id="random_beer_container"></div>
{{>beerpartial }}
{{#each this}}
{{#if this.name}}
<p>Food Pairing</p>
<ul id="pairing">
  {{#each food_pairing}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<p id="tips">Brewers Tips: <span style="font-weight: lighter">{{brewers_tips}}</span></p>
{{/if}}
{{/each}}
</div>